.header {
    width: 100%;
    min-height: calc(56px + 28px + 1px);
    padding: 28px 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    .header {
      max-width: 880px;
      margin: 0 auto;
      padding: 27px 0 0;
      min-height: 138px;
    }
  }
